:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

}

@media (prefers-color-scheme: dark) {
  :root {
    --card-border-rgb: unset;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.align-between {
  align-items: space-between;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.w100 {
  width: 100%;
}

.formik-input {
  height: 38px;
  padding: 10px 10px;
  outline: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
